
<body class=center>

<h1 class="review_heading"> Order Review </h1>

  <table class="review_order_table">

    <thead>
      <tr>

        <th><%= @shipping_add.address_type %></th>

        <th><%= @billing_add.address_type %></th>
        <th> Your Message</th>


      </tr>
    </thead>
    <tbody>

        <tr>

          <td>
            <%= @shipping_add.street_1.titleize %>
            <%= @shipping_add.street_2.titleize %>
            <%= @shipping_add.city.titleize %>
            <%= @shipping_add.state.titleize %>
            <%= @shipping_add.zip_code %>
          </td>

          <td>
            <%= @billing_add.street_1.titleize %>
            <%= @billing_add.street_2.titleize %>
            <%= @billing_add.city.titleize %>
            <%= @billing_add.state.titleize %>
            <%= @billing_add.zip_code %>
          </td>
          <td>
            <%= @message.content.titleize %>
            <% if @message.content.empty? %>
             no messages
            <% end %>
          </td>
     </tr>

    </tbody>
  </table>

  <%= render partial: "carts/cart", locals: {cart: user.current_cart}  %>

   <span class="place_order_button"><%= button_to 'Place my Order', thank_you_path(current_user), data: { confirm: 'Confirm?' } %></span>


</body>
