<body class=center>


    <h1> Welcome to Flower Picks </h1>
    <h2> Send flowers for $30 </h2>

  <br>






    <TABLE BORDER="0" cellpadding="0" CELLSPACING="0">
    <TR>

    <TD WIDTH="221" HEIGHT="300" BACKGROUND="newjoe01.jpg" VALIGN="bottom">

    <FONT SIZE="+1" COLOR="yellow">Joe Burns at Work</FONT></TD>

    </TR>
    </TABLE>






    <tr>

      <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
      <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
      <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
    </tr>
    <tr>
      <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
      <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
      <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
    </tr>

    <tr>
      <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
      <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
      <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
    </tr>
  </table>



  <br>




</body>
