<body class=center>
  <div class="container">


    <table>

      <tr>
        <td><%= image_tag("flowers/2.jpg") %></td>
        <td><%= image_tag("flowers/7.jpg") %></td>
        <td><%= image_tag("flowers/8.jpg") %></td>
      </tr>
      <!-- <tr>
        <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
        <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
        <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
      </tr>

      <tr>
        <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
        <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
        <td><%= image_tag("flowers/#{rand(9)}.jpg") %></td>
      </tr> -->
    </table>
    
      <div class="heading">
        <h1 class="welcomemsg"> Welcome to Flower Picks </h1>
        <h2 class="subheading"> Send flowers for $30 </h2>
      </div>


  </div>
</body>
