
<body class=center>
  <div class="container">
<!-- <h1> Flower picks in the past </h1>
  <table width="100%" border="1" cellpadding="5" class="gallery_images" >


    <tr>
      <td align="center">
        <%= image_tag("flowers/3.jpg") %>
        <br>
        <h3><strong> <%= @products.first.name %> (<%= @products.first.date_delivered ? @products.first.delivery_date : "" %>) </strong></h3>
        <h3> <%= @products.first.description %></h3>
      </td>

      <td align="center">
        <%= image_tag("flowers/1.jpg") %>
        <br>
        <h3><strong> <%= @products.second.name %> (<%= @products.second.date_delivered ? @products.second.delivery_date : "" %>) </strong></h3>
      <h3><strong> <%= @products.second.description %> </strong></h3>
      </td>

      <td align="center">
        <%= image_tag("flowers/2.jpg") %>
        <br>
        <h3><strong> <%= @products.third.name %> (<%= @products.third.date_delivered ? @products.third.delivery_date : "" %>) </strong></h3>
        <h3><strong> <%= @products.third.description %> </strong></h3>
      </td>
    </tr>

    <tr>
      <td align="center">
        <%= image_tag("flowers/4.jpg") %>
        <br>
        <h3><strong> <%= @products.fourth.name %> (<%= @products.fourth.date_delivered ? @products.fourth.delivery_date : "" %>) </strong></h3>
        <h3><strong> <%= @products.fourth.description %> </strong></h3>
      </td>

      <td align="center">
        <%= image_tag("flowers/5.jpg") %>
        <br>
        <h3><strong> <%= @products.fifth.name %> (<%= @products.fifth.date_delivered ? @products.fifth.delivery_date : "" %>) </strong></h3>
        <h3><strong> <%= @products.fifth.description %> </strong></h3>
      </td>

      <td align="center">
        <%= image_tag("flowers/6.jpg") %>
        <br>
        <h3><strong> <%= @products.first.name %> (<%= @products.first.date_delivered ? @products.first.delivery_date : "" %>) </strong></h3>
        <h3><strong> <%= @products.first.description %> </strong></h3>
      </td>

    </tr>
    </table>


  <table width="100%" border="1" cellpadding="5">

          <tr id="past_flowers">

            <button class="js-more_flowers" > More past flowers </button>

          </tr>
  </table>
</div>
</body> -->



    <br></br>
    <h1> Past Flower Picks </h1>
    <br></br>

    <div class="responsive">
      <div class="gallery">



        <%= image_tag("flowers/1.jpg", size: '600x400') %>
        <div class="desc">
          <h3><%= @products.first.name %> (<%= @products.first.date_delivered ? @products.first.delivery_date : "" %>)</h3>
          <h3><%= @products.first.description.slice(0,30) %></h3>
        </div>

      </div>
    </div>


    <div class="responsive">
      <div class="gallery">

        <%= image_tag("flowers/2.jpg", size: '600x400') %>
        <div class="desc">
          <h3><%= @products.second.name %> (<%= @products.second.date_delivered ? @products.second.delivery_date : "" %>)</h3>
          <h3><%= @products.second.description.slice(0,30) %></h3>
        </div>

      </div>
    </div>


    <div class="responsive">
      <div class="gallery">

        <%= image_tag("flowers/3.jpg", size: '600x400') %>
        <div class="desc">
          <h3><%= @products.third.name %> (<%= @products.third.date_delivered ? @products.third.delivery_date : "" %>)</h3>
          <h3><%= @products.third.description.slice(0,30) %></h3>
        </div>

      </div>
    </div>


    <div class="responsive">
      <div class="gallery">

        <%= image_tag("flowers/4.jpg", size: '600x400') %>
        <div class="desc">
          <h3><%= @products.fourth.name %> (<%= @products.fourth.date_delivered ? @products.fourth.delivery_date : "" %>)</h3>
          <h3><%= @products.fourth.description.slice(0,30) %></h3>
        </div>

      </div>
    </div>


    <div class="responsive">
      <div class="gallery">

        <%= image_tag("flowers/5.jpg", size: '600x400') %>
        <div class="desc">
          <h3><%= @products.fifth.name %> (<%= @products.fifth.date_delivered ? @products.fifth.delivery_date : "" %>)</h3>
          <h3><%= @products.fifth.description.slice(0,30) %></h3>
        </div>

      </div>
    </div>


    <div class="responsive">
      <div class="gallery">

        <%= image_tag("flowers/7.jpg", size: '600x400') %>
        <div class="desc">
          <h3><%= @products.first.name %> (<%= @products.first.date_delivered ? @products.first.delivery_date : "" %>)</h3>
          <h3> <%= @products.first.description.slice(0,30) %></h3></div>
        </div>
    </div>

    <div class="responsive">
      <div class="gallery">

        <%= image_tag("flowers/8.jpg", size: '600x400') %>
        <div class="desc">
          <h3><%= @products.first.name %> (<%= @products.first.date_delivered ? @products.first.delivery_date : "" %>)</h3>
          <h3> <%= @products.first.description.slice(0,30) %></h3>
        </div>

      </div>
    </div>

    <div class="responsive">
      <div class="gallery">

        <%= image_tag("flowers/9.jpg", size: '600x400') %>
        <div class="desc">
          <h3><%= @products.first.name %> (<%= @products.first.date_delivered ? @products.first.delivery_date : "" %>)</h3>
          <h3><%= @products.first.description.slice(0,30) %></h3>
        </div>

      </div>
    </div>


    <button class="js-more_flowers" > More past flowers </button>


    <div id="more_flowers">


    </div>

    <div class="clearfix"></div>

  </div>
</body>
