<body class=center>
    <div class="container">
  
        <h1 class= "add_daily_pick_heading"> Add New Daily Pick</h1>

            <div class="add_daily_pick">
              <%= form_for @product, html: { multipart: true } do |f| %>

                <% if @product.errors.any? %>
                  <div class="field_with_errors">
                    <h2>
                      <%= pluralize(@product.errors.count, "error") %>
                      prevented this product from being created:
                    </h2>

                    <ul>
                    <% @product.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>


                <div class="add_daily_pick_details">
                  <span><%= f.label :name, "Name:" %></span>
                  <span><%= f.text_field :name %> </span>


                  <span><%= f.label :description, "Description:" %></span>
                  <span><%= f.text_field :description %> </span>


                  <span><%= f.label :date_delivered, "Delivery Day:" %></span>
                  <span><%= f.date_field :date_delivered, :value => Time.now.strftime("%B, %e, %Y") %> </span>
                </div>



                <div class="daily_pick_button"> <%= f.submit "Create Flower" %> </div>
              <% end %>
            </div>
    </div>
</body>
